[submodule "rml-model"]
	path = rml-model
	url = git@git.mmlab.be:rml/rml-model.git
[submodule "rml-condition"]
	path = rml-condition
	url = git@git.mmlab.be:rml/rml-condition.git
[submodule "rml-mapdochandler"]
	path = rml-mapdochandler
	url = git@git.mmlab.be:rml/rml-mapdochandler.git
[submodule "rml-dataretrieval"]
	path = rml-dataretrieval
	url = git@git.mmlab.be:rml/rml-dataretrieval.git
